# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db

*.log

# venv
env
venv

# other
.DS_Store
/Test

# sphinx docs 
#_build
#_static
#_templates

# javascript
package-lock.json
.vscode/symbols.json
app/home/content_gen/innondations.html

