alabaster
alembic
altair
appdirs
applaunchservices
appnope
argh
argon2-cffi
astroid
async_generator
atomicwrites
attrs
autopep8
babel
backcall
bcrypt
black
pyblas
bleach
blinker
boost-py
brotlipy
bzip2
c-ares
ca-certificates
cairo
certifi
cffi
cfitsio
chardet
click
click-plugins
cligj
cloudpickle
colorama
cryptography
curl
cycler
dbus
decorator
defusedxml
diff-match-patch
dnspython
docutils
email-validator
email_validator
entrypoints
et_xmlfile
expat
fiona
flake8
flask
flask-login
flask-migrate
flask-principal
flask-security-too
flask-sqlalchemy
flask-wtf
fontconfig
freetype
freexl
future
gdal
geopandas
geos
geotiff
gettext
giflib
glib
glib-tools
gunicorn
hdf4
hdf5
icu
idna
imagesize
importlib-metadata
importlib_metadata
intervaltree
ipykernel
ipython
ipython_genutils
isort
itsdangerous
jdcal
jedi
jinja2
jpeg
json-c
jsonschema
jupyter_client
jupyter_core
jupyterlab_pygments
kealib
keyring
kiwisolver
krb5
lazy-object-proxy
lcms2
libblas
libcblas
libclang
libcurl
libcxx
libdap4
libedit
libev
libffi
libgdal
libgfortran
libgfortran5
libglib
libiconv
libkml
liblapack
libllvm11
libnetcdf
libnghttp2
libopenblas
libpng
libpq
librttopo
libsodium
libspatialindex
libspatialite
libssh2
libtiff
libwebp-base
libxml2
llvm-openmp
lz4-c
mako
markupsafe
matplotlib
matplotlib-base
mccabe
mistune
munch
mysql-common
mysql-libs
nbclient
nbconvert
nbformat
ncurses
ndg-httpsclient
nest-asyncio
notebook
nspr
nss
numpy
numpydoc
olefile
openjpeg
openpyxl
openssl
packaging
pandas
pandoc
pandocfilters
parso
passlib
pcre
pexpect
pickleshare
pillow
pip
pixman
plotly
pluggy
poppler
poppler-data
postgresql
proj
prometheus_client
prompt-toolkit
psutil
ptyprocess
pusher
pyasn1
pycodestyle
pycparser
pydocstyle
pyflakes
pygments
pylint
pyls-black
pyls-spyder
pynacl
pyopenssl
pyotp
pyparsing
pyproj
pyqt
pyqt-impl
pyqt5-sip
pyqtchart
pyqtwebengine
pyrsistent
pysocks
python
python-dateutil
python-decouple
python-dotenv
python-editor
python-jsonrpc-server
python-language-server
python.app
python_abi
pytz
pyyaml
pyzmq
qdarkstyle
qrcode
qt
qtawesome
qtconsole
qtpy
readline
requests
retrying
rope
rtree
send2trash
setuptools
shapely
sip
six
snowballstemmer
sortedcontainers
sphinx
sphinx_rtd_theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
sqlalchemy
sqlite
terminado
testpath
textdistance
three-merge
tiledb
tk
toml
toolz
tornado
tqdm
traitlets
tzcode
tzdata
ujson
urllib3
vega_datasets
watchdog
wcwidth
webencodings
werkzeug
wheel
wrapt
wtforms
wurlitzer
xerces-c
xlrd
xz
yaml
yapf
zeromq
zipp
zlib
zstd
