{% extends "layouts/base.html" %}

{% block title %} Environement {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card card-profile">
                <div class="card-body">
                    <h3 class="card-title">Environement</h3>
                  <div class="chart" id="class_map1">
                    <script>
                        var graphs = {{canicule_map| safe}};
                        Plotly.newPlot('class_map1',graphs.data,graphs.layout, config);  
                    </script>
                  </div>
                    
                    <a href="/" class="btn btn-primary btn-round">Home</a>
                </div>
            </div>
        </div>
    </div>
    <div> {% for table in bs %}
            {{titles_bs[loop.index]}}
            {{ table|safe }}
{% endfor %}
{% for table in pnl %}
            {{titles_pnl[loop.index]}}
            {{ table|safe }}
{% endfor %}
</div>
<script>
  var graphs = {{canicule | safe}};
  Plotly.newPlot('chart',graphs.data,graphs.layout,config);
  
</script>
    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
