{% extends "layouts/base.html" %}

{% block title %} Gouvernance {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card card-profile">
                <div class="card-body">
                    <h3 class="card-title">Gouvernance</h3>
                  <p>Ci-dessous sont représentés pour votre exploitation les indicateurs de gouvernance</p>
                  <h4><i class="tim-icons icon-world2"></i>Facteurs à risques de gouvernance:</h4>
                    <ul>
                      {% for critical in critical_alert[2] %}
                      <li>{{critical}}</li>

                      {% endfor %}
                    </ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="card card-chart">
          <div class="card-header">
            <h3 class="card-title">Diversification d'activité</h3>
          </div>
          <div class="card-body">
            <div id='G6_indic'> </div>
                <script>
                    var graphs = {{G6_indic | safe}};
                    Plotly.newPlot('G6_indic',graphs.data,graphs.layout, config);
                </script>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card card-chart">
          <div class="card-header">
            <h3 class="card-title">Matériel mutualisé</h3>
          </div>
          <div class="card-body">
            <div class="number_bchart"> 
                {% if G9_indic.color=='red' %}
                  <div class="nmb_red">r
                {% elif G9_indic.color=='yellow' %}
                  <div class="nmb_yellow">
                {% else %}
                  <div class="nmb_green">
                {% endif %}
                {{G9_indic.value}}</div>
              </div>
              <div id={{G9_indic.title.split(' ')[0]}}>
                <script>
                  var graphs = {{G9_indic.graph | safe}};
                  Plotly.newPlot({{G9_indic.title.split(' ')[0]}},graphs.data,graphs.layout, config);
                </script> 
              </div>
          </div>
        </div>
      </div>
    </div>
    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->

{% block javascripts %}{% endblock javascripts %}
