{% extends "layouts/base.html" %}

{% block title %} Synthèse {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
      <div class="col-12">
        <div class="card card-chart">
          <div class="card-body">
            <h3>Scoring</h3>
              <div class="gauge">
                  <h3 style="text-align:center;">Score environemental</h4>
                  <canvas id="env" class="gauge_canvas"></canvas>
                  <div id="preview-textfield"><p id='score_env'></p></div>
              </div>
              <div class="gauge">
                <h3 style="text-align:center;">Score social</h4>
                <canvas id="soc" class="gauge_canvas"></canvas>
                <div id="preview-textfield"><p id='score_soc'></p></div>
              </div>
              <div class="gauge">
                <h3 style="text-align:center;">Score gouvernance</h4>
                <canvas id="gouv" class="gauge_canvas"></canvas>
                <div id="preview-textfield"><p id='score_gov'></p></div>
              </div>
              <p> La zone jaune représente le score moyen des entreprises viticoles de votre région +/- 10%. <br></p>
          </div>  
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Alertes envrionmentales sur l'année</h5>
            <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i>70</h3>
          </div>
          <div class="card-body">
            <div class="chart-area" id='alertes'>
              <script>
                  var graphs = {{alertes | safe}};
                  Plotly.newPlot('alertes',graphs.data,graphs.layout, config);
                </script>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">EBITDA</h5>
            <h3 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i>3,500€</h3>
          </div>
          <div class="card-body">
            <div class="chart-area" id='ebitda'>
              <script>
                  var graphs = {{ebitda | safe}};
                  Plotly.newPlot('ebitda',graphs.data,graphs.layout, config);
                </script>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Sécheresse</h5>
            <h3 class="card-title"><i class="tim-icons icon-send text-success"></i></h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
             <img src="/static/assets/img/carte_fra.jpg" alt="Profile Photo"> 
            </div>
          </div>
        </div>
      </div>
    </div>
    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>

  <script>
    var opts = {
      lines: 12,
      angle: 0.0,
      radiusScale: 0.7,
      lineWidth: 0.3,
      pointer: {
        length: 0.6,
        strokeWidth: 0.035,
        color: '#fff'
      },
      staticLabels: {
        font: "15px sans-serif",  // Specifies font
        labels: zone_env,  // Print labels at these values
        color: "#ffffff",  // Optional: Label text color
      },
      staticZones: [
       {strokeStyle: "#30B32D", min: zone_env[0], max: zone_env[1]}, // Gree
       {strokeStyle: "#FFDD00", min: zone_env[1], max: zone_env[2]}, // Yellow
       {strokeStyle: "#F03E3E", min: zone_env[2], max: zone_env[3]}, // Red
      ],
    };

    var target = document.getElementById('env'); // your canvas element
    var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
    gauge.maxValue = gauge_env_max; // set max gauge value
    gauge.setMinValue(0);  // set min value
    gauge.set(gauge_env); // set actual value
    document.getElementById('score_env').innerHTML = gauge_env;
  </script>
  <script>
    var opts = {
      lines: 12,
      angle: 0.0,
      radiusScale: 0.7,
      lineWidth: 0.3,
      pointer: {
        length: 0.6,
        strokeWidth: 0.035,
        color: '#fff'
      },
      percentColors: [[0.0, "#a9d70b" ], [0.4, "#f9c802"], [0.7, "#ff0000"]],
      strokeColor: '#E0E0E0',
      generateGradient: true,
      staticLabels: {
        font: "15px sans-serif",  // Specifies font
        labels: zone_soc,  // Print labels at these values
        color: "#ffffff",  // Optional: Label text color
      },
      staticZones: [
       {strokeStyle: "#F03E3E", min: zone_soc[0], max: zone_soc[1]}, // Red from 100 to 130
       {strokeStyle: "#FFDD00", min: zone_soc[1], max: zone_soc[2]}, // Yellow
       {strokeStyle: "#30B32D", min: zone_soc[2], max: zone_soc[3]}, // Green
      ],
    };

    var target = document.getElementById('soc'); // your canvas element
    var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
    gauge.maxValue = gauge_soc_max; // set max gauge value
    gauge.setMinValue(0);  // set min value
    gauge.set(gauge_soc); // set actual value
    document.getElementById('score_soc').innerHTML = gauge_soc;
  </script>
  <script>
    var opts = {
      lines: 12,
      angle: 0.0,
      radiusScale: 0.7,
      lineWidth: 0.3,
      pointer: {
        length: 0.6,
        strokeWidth: 0.035,
        color: '#fff'
      },
      percentColors: [[0.0, "#a9d70b" ], [0.4, "#f9c802"], [0.7, "#ff0000"]],
      strokeColor: '#E0E0E0',
      generateGradient: true,
      staticLabels: {
        font: "15px sans-serif",  // Specifies font
        labels: zone_soc,  // Print labels at these values
        color: "#ffffff",  // Optional: Label text color
      },
      staticZones: [
       {strokeStyle: "#30B32D", min: zone_gov[0], max: zone_gov[1]}, // Red from 100 to 130
       {strokeStyle: "#FFDD00", min: zone_gov[1], max: zone_gov[2]}, // Yellow
       {strokeStyle: "#F03E3E", min: zone_gov[2], max: zone_gov[3]}, // Green
      ],
    };

    var target = document.getElementById('gouv'); // your canvas element
    var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
    gauge.maxValue = gauge_gov_max; // set max gauge value
    gauge.setMinValue(0);  // set min value
    gauge.set(gauge_gov); // set actual value
    document.getElementById('score_gov').innerHTML = gauge_gov;
  </script>

{% endblock javascripts %}
