{% extends "layouts/base.html" %}

{% block title %} Synthèse {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">
      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header">
            <h3 class="card-title"><i class="tim-icons icon-bulb-63 text-primary"></i>Bienvenue !</h3>
          </div>
          <div class="card-body">
              <p> Bienvenue sur GRID, votre outil de cartographie des risques RSE. </p>
              <p> Comment utiliser ce dashboard ? </p>
              <ul> 
                <li>Vous retrouverez sur cette page une synthèse de l'étude de risques du Chateau FIFG :  
                  <ul>
                    <li> Le score RSE de l'exploitation ; </li>
                    <li> Les points de vigilance relevés par l'audit ;</li>
                    <li>Les données financières (EBE et endettement).</li>
                  </ul>
                </li> 
                <li>Pour plus de détails, consultez les pages : environnement, social, gouvernance et finance. 
                </li>
              </ul>
          </div>  
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header">
            <h3 class="card-title"><i class="tim-icons icon-chart-bar-32 text-primary"></i>Scoring</h3>
          </div>
          <div class="card-body">
              <div class="gauge">
                  <h3 style="text-align:center;">Score environnemental</h4>
                  <canvas id="env" class="gauge_canvas"></canvas>
                  <div id="preview-textfield"><p id='score_env'></p></div>
              </div>
              <div class="gauge">
                <h3 style="text-align:center;">Score social</h4>
                <canvas id="soc" class="gauge_canvas"></canvas>
                <div id="preview-textfield"><p id='score_soc'></p></div>
              </div>
              <div class="gauge">
                <h3 style="text-align:center;">Score de gouvernance</h4>
                <canvas id="gouv" class="gauge_canvas"></canvas>
                <div id="preview-textfield"><p id='score_gov'></p></div>
              </div>
              <p> La zone centrale représente le score moyen des entreprises viticoles de votre région +/- 10%. <br></p>
          </div>  
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="card card-chart">
          <div class="card-header">
            <h3 class="card-title"><i class="tim-icons icon-money-coins text-primary"></i>Données financières</h3>
          </div>
          <div class="card-body">
            <div class="chart-area" id='ebitda'> </div>
            <div class="chart-area" id='endet'> </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card card-chart">
          <div class="card-header">
            <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i>Points de vigilance relevés par l'audit</h3>
          </div>
          <div class="card-body">
            <h4><i class="tim-icons icon-world2"></i>Facteurs de risques environnementaux</h4>
            <ul>
              {% for critical in critical_alert[0] %}
              <li>{{critical}}</li>

              {% endfor %}
            </ul>
            <h4><i class="icon icon-heart-2"></i>   Facteurs de risques sociaux</h4>
            <ul>
              {% for critical in critical_alert[1] %}
              <li>{{critical}}</li>

              {% endfor %}
            </ul>
            <h4><i class="icon icon-multiple-11"></i>   Facteurs de risques gouvernementaux</h4>
            <ul>
              {% for critical in critical_alert[2] %}
              <li>{{critical}}</li>

              {% endfor %}
            </ul>
            
          </div>
        </div>
      </div>
    </div>
    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    var graphs = {{ebitda | safe}};
    Plotly.newPlot('ebitda',graphs.data,graphs.layout, config);
    
    var endet = {{endet | safe}};
    Plotly.newPlot('endet',endet.data,endet.layout, config);
  </script>

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>

  <script>
    var gauge_env = {{ scoring[0][0] }}
    var gauge_env_max = {{ scoring[0][1] }}
    var zone_env = {{ scoring[0][2] | tojson}}
    var opts = {
      lines: 12,
      angle: 0.0,
      radiusScale: 0.7,
      lineWidth: 0.3,
      pointer: {
        length: 0.6,
        strokeWidth: 0.035,
        color: '#000'
      },
      staticLabels: {
        font: "15px sans-serif",  // Specifies font
        labels: zone_env,  // Print labels at these values
        color: "#000",  // Optional: Label text color
      },
      staticZones: [
       {strokeStyle: "#74c476", min: zone_env[0], max: zone_env[1]}, // Clair
       {strokeStyle: "#31a354", min: zone_env[1], max: zone_env[2]}, // Un peu foncé  
       {strokeStyle: "#006d2c", min: zone_env[2], max: zone_env[3]}, // Foncé
      ],
    };

    var target = document.getElementById('env'); // your canvas element
    var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
    gauge.maxValue = gauge_env_max; // set max gauge value
    gauge.setMinValue(0);  // set min value
    gauge.set(gauge_env); // set actual value
    document.getElementById('score_env').innerHTML = gauge_env;
  </script>
  <script>
    var gauge_soc = {{ scoring[1][0] }}
    var gauge_soc_max = {{ scoring[1][1] }}
    var zone_soc = {{ scoring[1][2] | tojson}}
    var opts = {
      lines: 12,
      angle: 0.0,
      radiusScale: 0.7,
      lineWidth: 0.3,
      pointer: {
        length: 0.6,
        strokeWidth: 0.035,
        color: '#000'
      },
      percentColors: [[0.0, "#a9d70b" ], [0.4, "#f9c802"], [0.7, "#ff0000"]],
      strokeColor: '#E0E0E0',
      generateGradient: true,
      staticLabels: {
        font: "15px sans-serif",  // Specifies font
        labels: zone_soc,  // Print labels at these values
        color: "#000",  // Optional: Label text color
      },
      staticZones: [
       {strokeStyle: "#74c476", min: zone_soc[0], max: zone_soc[1]}, // Clair 
       {strokeStyle: "#31a354", min: zone_soc[1], max: zone_soc[2]}, // Un peu foncé
       {strokeStyle: "#006d2c", min: zone_soc[2], max: zone_soc[3]}, // Foncé
      ],
    };

    var target = document.getElementById('soc'); // your canvas element
    var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
    gauge.maxValue = gauge_soc_max; // set max gauge value
    gauge.setMinValue(0);  // set min value
    gauge.set(gauge_soc); // set actual value
    document.getElementById('score_soc').innerHTML = gauge_soc;
  </script>
  <script>
    var gauge_gov = {{ scoring[2][0] }}
    var gauge_gov_max = {{ scoring[2][1] }}
    var zone_gov = {{ scoring[2][2] | tojson}}
    var opts = {
      lines: 12,
      angle: 0.0,
      radiusScale: 0.7,
      lineWidth: 0.3,
      pointer: {
        length: 0.6,
        strokeWidth: 0.035,
        color: '#000'
      },
      percentColors: [[0.0, "#a9d70b" ], [0.4, "#f9c802"], [0.7, "#ff0000"]],
      strokeColor: '#E0E0E0',
      generateGradient: true,
      staticLabels: {
        font: "15px sans-serif",  // Specifies font
        labels: zone_soc,  // Print labels at these values
        color: "#000000",  // Optional: Label text color
      },
      staticZones: [
       {strokeStyle: "#74c476", min: zone_gov[0], max: zone_gov[1]}, // Clair
       {strokeStyle: "#31a354", min: zone_gov[1], max: zone_gov[2]}, // Un peu foncé
       {strokeStyle: "#006d2c", min: zone_gov[2], max: zone_gov[3]}, // Foncé
      ],
    };

    var target = document.getElementById('gouv'); // your canvas element
    var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
    gauge.maxValue = gauge_gov_max; // set max gauge value
    gauge.setMinValue(0);  // set min value
    gauge.set(gauge_gov); // set actual value
    document.getElementById('score_gov').innerHTML = gauge_gov;
  </script>

{% endblock javascripts %}
