{% extends "layouts/base.html" %}

{% block title %} Aspect social {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card card-profile">
                <div class="card-body">
                    <h3 class="card-title">Social</h3>
                    <p> Hello {{ name }}!</p>
                  <div id='map'>
                    
                  </div>
                    <a href="/" class="btn btn-primary btn-round">Home</a>
                </div>
            </div>
        </div>
    </div>
<script>
  var graphs = {{map | safe}};
  Plotly.newPlot('map',graphs.data,graphs.layout, config);
</script>
    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
